.estrutura_janelas{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../img/image.png');
}

.janela_registrar{
    width: 40vw;
    height: 70vh;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(20px);
}

.janela_registrar_header{
    width: 100%;
    border-bottom: 1px solid white;
    padding-left: 10px;
    text-align: center;
    padding: 10px;
}

.janela_registrar_header_title{
    color: white;
    font-size: 30px;
}

.janela_registrar_conteudo_campo{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 50px;
    background-color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.janela_registrar_conteudo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.janela_registrar_conteudo_campo_input{
    border: none;
    background-color: transparent;
    width: 25vw;
    height: 7vh;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
}

.janela_registrar_conteudo_campo_input_icon{
    width: 2vw;
    height: 4vh;
}

.icon_user{
    content: url('../../img/user.png');
}

.icon_password{
    content: url('../../img/eye.png');
    cursor: pointer;
}

.icon_email{
    content: url('../../img/email.png');
}

.janela_registrar_footer{
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
    border-top: 1px solid white;
}

.botao{
    font-size: 15px;
    border-radius: 50px;
    border: none;
}

.botao_registrar{
    width: 6vw;
    height: 5vh;
}

.janela_registrar_footer_login_link{
    font-size: 18px;
    color: white;
}

.janela_registrar_footer_login_link a{
    text-decoration: none;
    color: white;
}